/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap')

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* CSS NAVBAR */

.navbar{
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 6em;
}

.container-fluid button{
    background-color: white;    
}

    .container-fluid a p:hover{
        transform: scale(1,1.2);
    }

.navbar-brand p{
    font-family: 'Roboto', cursive;
    font-weight: 700;
    font-size: 3em;
    color: white;
    margin: 0; 
}

.nav-item a{
    color: rgb(226, 218, 218);
    font-family: 'Roboto', cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;

}

    .nav-item a:hover{
        color: #F1F1F1;
    }

    .nav-item a:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .nav-item a:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

@media (max-width: 991px){
    .navbar-nav{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
    }
}
/* FIN CSS NAVBAR */

/* INICIA CSS DE FOOTER */
.footer{
    height: 6em;
    width: auto;
    background-color: black;
    border-top: solid 2px #F1F1F1;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
}
    .footer .footer_text{
        font-family: 'DynaPuff', cursive;
        font-size: 1em;
        color: #F1F1F1;
    }

        .footer div ul{
            padding: 0;
            margin: 0;
        }

        .footer .footer_logos li{
            display: inline-block;
            padding: 0 10px;
        }

            .footer .footer_logos img{
                height: auto;
                width: 2.5em;
                border-radius: 50%
            }

            @media (max-width:768px){
                .footer{
                    height: 10em;
                    width: auto;
                    text-align: center;
                    padding: 0 0;
                }
            }

@media (max-width:768px){
    .footer{
        height: 10em;
        width: auto;
        background-color: black;
        text-align: center;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .footer .footer_logos img{
        height: auto;
        width: 2em;
        border-radius: 50%;
    }

}

/* FINALIZA CSS DE FOOTER */

/* CSS DE INICIO */

#bg__home{
    background-image: url('../img/background-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

.container__main--home{
    width: 100%;
    background: black;
}

.Heading__Inicio h1{
    font-family: 'Indie Flower', serif;
    font-size: 6em;
    font-size: 5;
    color: white;
    padding: 100px 0 40px 0;
    text-align: center;
}

.table__shows{
    padding: 20px 200px 50px 200px;
    margin-bottom: 0;
}

    .table__shows .table__container{
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
        padding: 0 50px;
    }

.table__title{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}

    .table__title .table__title--heading{
        color: #ffffff;
        font-family: 'Roboto', cursive;
        font-weight: bolder;
        font-size: 30px;
        text-transform: uppercase;
    }

.table__contents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    align-items: center;
}

    .table__contents .date, .venue{
        color: antiquewhite;
        text-transform: uppercase;
        font-family: 'Roboto', serif;
        font-size: 20px;
    }

    .table__contents .city{
        color: rgb(160, 75, 75);
        text-transform: uppercase;
        font-family: 'Indie Flowers', serif;
        font-size: 20px;
    }

    .table__contents .link a{
        color: rgb(168, 196, 10);
        text-transform: uppercase;
        font-family: 'Indie Flowers', serif;
        font-size: 20px;
        text-decoration: none;
    }

@media (max-width: 1100px){
    .table__shows{
        padding: 20px 50px;
    }
}

@media (max-width: 768px){
    .table__shows{
        padding: 20px 0;
    }

    .table__title{
        display: none;
    }

    .table__contents{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        padding: 20px;
    }
}

/* FIN DE CSS INICIO */


/* INICIO CSS SHOP */

#bg__shop{
    background: black;
}

.shop__title{
    font-family: 'Indie Flower', serif;
    font-size: 6em;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 40px 0 0 0;
}

.carousel-item img{
    object-fit: cover;
    height: 50vh;
    align-content: center;
}

.carousel__container{
    padding: 100px 00px;
}

.ropa__container div a img{
    width: 100%;
}

.ropa__name{
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #ffffff;
    padding-top: 10px;
    margin-bottom: 5px;
}

.ropa__price{
    font-family: 'Ultra', serif;
    font-weight: 700;
    font-size: 1.2em;
    color: rgb(163, 163, 46);
    margin-bottom: 30px;
}

@media (max-width: 768px){
    .carousel__container{
        padding: 50px 0px;
    }
    .shop__title{
        font-size: 4em;
    }
}

@media (max-width: 576px){
    .shop__title{
        font-size: 3em;
    }
}
/* FIN DE CSS SHOP */

/* INICIA CSS MUSICA */

#bg__musica{
    background: black;
}

.album__container{
    padding: 100px 0px;
}

    .album__container .album-content a{
        text-decoration: none;
    }

    .album__container .row div a img{
        padding-bottom: 10px;
        width: auto;
        height: 50vh;
    }

    .album__container .row div iframe{
        padding-bottom: 50px;
        width: 90%;
        height: 500px;
    }
    

.musica__title{
    font-family: 'Indie Flower', serif;
    font-weight: 700;
    font-size: 5em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 50px 0 20px 0;
}

.album__title{
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline double 1px #ffffff;
    margin-bottom: 20px;
}

.album-content a p{
    font-family: 'Ultra', serif;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 50px;

}

@media (max-width:992px){
    .album__container{
        padding: 100px 0px;
    }
    .album__container .row div iframe{
        width: 90%;
        height: 50vh;
        padding: 20px 10px;
    }

    .album__container .row div a img{
        object-fit: contain;
        width: 100%;
        padding: 0 10px;
    }
    
    .end__album{
        padding-bottom: 50px;
    }
    
}

@media (max-width: 600px){
    .album__container .row div iframe{
        width: 100%;
        height: 40vh;
        padding: 0 10px;
    }

    .musica__title{
        margin: 100px 0 0 0;
    }
}

#row-custom-album{
    padding: 0;
    margin: 0;
}

#col-custom-album{
    padding: 0;
    margin: 0;
}

#col-custom-video{
    padding: 0;
    margin: 0;
}

/* FIN DE CSS MUSICA */
    

/* INICIA CSS GALERIA */



/* FIN DE CSS GALERIA */

/* INICIA CSS CONTACTO */

/* FIN DE CSS CONTACTO */
