@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


//fontfamily

$FontTitle: 'Indie Flower', sans-serif;
$FontSecondary: 'Roboto', sans-serif;
$FontTertiary: 'Ultra', sans-serif;


//fontsize

$textSm: 1em;
$textMd: 1.5em;
$textXl: 2.5em;
$textXxl: 3em;
$textXxll: 5em;
$textXxxl: 6em;

