/* COMIENZA SHOP */
.main__container--shop{
    
    .carousel__container{
        padding: 100px 0px;

        .carousel-item{

            img{
                object-fit: cover;
                height: 50vh;
                align-content: center;
            }
        }
    }
}

.ropa__container{
    div{
        a{
            img{
                width: 100%;
            }
        }
    }
    .ropa__name{
        font-family: $FontSecondary;
        font-weight: 700;
        font-size: $textMd;
        color: white;
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .ropa__price{
        font-family: $FontSecondary;
        font-size: $textMd;
        color: rgb(163, 163, 46);
        margin-bottom: 30px;
    }
}

@media (max-width: 768px){
    .carousel__container{
        padding: 50px 0px;
    }

}
/* FINALIZA SHOP */